* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
#head1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    flex-grow: 1;
}
.auth {
  display: flex;
}
.auth button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.auth button:hover {
  background-color: #2f72dc;
  color: #fff;
}
#droppable-zone {
  border: 5px dashed #000;
  border-radius: 20px;
  height: 40vh;
  width: 50vw;
  position: relative;
  overflow: hidden;
}
#droppable-zone-wrapper {
  display: flex;
  /*Vertical*/
  align-items: center;
  /*Horizontal*/
  justify-content: center;
  height: 100%;
  width: 100%;
}
#droppable-zone-text {
  text-align: center;
  font-size: 25px;
}
.droppable-file {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
textarea {
  font-size: 14px;
  height: 20vh;
  width: 45vw;
  border: 5px double #000;
  border-radius: 5px;
  resize: none;
  pointer-events: read;
}
.input {
  float: left;
}
.output {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20vh;
}
.remove {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#remove {
  padding: 10px 15px;
  background-color: #f00;
  cursor: pointer;
  border-radius: 5px;
}