* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
::selection {
  background-color: blue;
  color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#intro {
  color: #0f0;
  text-align: center;
}
#desc {
  color: #fff;
  text-align: center;
}
#goto {
  color: #ff0;
  text-align: center;
}
#head1, #head2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    flex-grow: 1;
}
#head1 {
    transition: opacity 1s ease-in-out;
}
.auth {
  display: flex;
}
.auth button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.auth button:hover {
  background-color: #2f72dc;
  color: #fff;
}
.hint {
  text-align: center;
  font-size: 18px;
  color: #00f;
}
#search {
  margin: auto;
  height: 25px;
  width: 150px;
  font-size: 12px;
}
#droppable-zone {
  border: 5px dashed #000;
  border-radius: 20px;
  height: 30vh;
  width: 70vw;
  position: relative;
}
#droppable-zone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#droppable-zone-text {
  text-align: center;
  font-size: 25px;
}
.droppable-file {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
textarea {
  font-size: 14px;
  height: 20vh;
  width: 46vw;
  border: 5px double #000;
  border-radius: 5px;
  resize: none;
  pointer-events: read;
}
.input {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.output {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20vh;
}
.remove, .save, .bgoto {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove, .save {
  padding-bottom: 10px;
}
#remove {
  padding: 10px 15px;
  background-color: #f00;
  cursor: pointer;
  border-radius: 5px;
}
#save {
  padding: 10px 15px;
  background-color: #0f0;
  cursor: pointer;
  border-radius: 5px;
}
#save[disabled] {
  cursor: not-allowed;
}
#bgoto {
  padding: 10px 15px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.bg {
  position: fixed;
  background-color: #333;
  height: 100%;
  width: 100%;
}
.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
#auth {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center {
  text-align: center;
}
#e::before {
  background-image: url('/images/user-icon.png');
  width: 20px;
  height: 20px;
  top: 15px;
}
#p::before {
  background-image: url('/images/lock-icon.png');
  width: 16px;
  height: 16px;
}
#auth .form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
#auth .form-field a {
  color: #0f0;
  font-weight: bold;
}
#auth .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
#auth input {
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}
#auth p {
  color: #fff;
}
#auth .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #47AB11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}
table {
  width: 100%;
}
th, td {
  background-color: #808080;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}
th:nth-child(1) {
  width: 15%;
}
th:nth-child(2) {
  width: 15%;
}
th:nth-child(3) {
  width: 65%;
}
td {
  background-color: #000;
  color: #fff;
  border: none;
}
td button {
  cursor: pointer;
}